.Category{
    background-color: transparent;
    /* border:1px solid; */
    border-radius:5px;

    min-width:200px;
    transition: all 300ms;

}
.Category:not(.open){
    background-color: white;
}
.Category h3{
    font-size:30px;
    margin:0;

}
.Category button{
  border:none;
  cursor:pointer;
  background-color: transparent;

 
}
.description{
    display:flex;
    justify-content: space-between;
    background-color: white;
    padding:15px;
    border-radius:5px;

}
.hidden{
    display:none;
}

.Category-Sections{
    margin-top:5px;
    display:grid;
    gap:5px;
}

button.addChildren{
    padding:10px;
    width:100%;
    /* height:50px; */
    justify-self: center;
    background-color:  white;
    /* border:1px solid; */
    border-radius: 7px ;
    font-weight:bold;

    font-size:45px;
}