*{
    font-family:Calibri,Arial, Helvetica, sans-serif;
    color:#0e364e;

}
body,html{
    background-color: #eeeeee;
    padding:0;
    margin:0;
    overflow: hidden;
}
@media (max-width:1200px){
    body,html{
        overflow:auto;
    }
}
#root{
    position:relative;
}